<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a class="about-btn" href="about">About</a>
    <a href="/"><img src="./logo.png" alt="myShare101 logo" class="logo"></a>
    <div class="row justify-content-center">
    <div class="about-container">
        <div class="about-header">
            <h1>Team Members</h1>
            <p><p>
        </div>
      
            <div class="c1">
                <h2>Soumyadeep Mandal</h2>
                
            </div>
            <div class="c2">
                <h2>Amit Kumar Bharti</h2>
            
            </div>
            <div class="c3">
                <h2>Sudip Kumar Pandey</h2>
            
            </div>
            <div class="c4">
                <a href="https://github.com/kant146" style="color: aliceblue; text-decoration: none;"><h2>Krishnakant Kumar</h2></a>
                
            </div>
            <div class="c5">
                <h2>Rishav Kumar</h2>

            </div>
            <div class="c6">
                <h2>Suraj Dutta</h2>
            
            </div>

        
        </div>
    </div>
    <div class="about-footer">
        <p>2021  Team Project</p>
    </div>
</body>
</html>